*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.vexiP{
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 80px;
}

.vexiB{
  margin: 0 auto;
  padding: 10px;
  display: block;
}

#root{
  max-width: 500px;
  margin: 0px auto;
}

.wrap{
  padding: 0 20px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid > div{
  margin: 5px;
}

.grid > img{
  display: none;
}

.centro{
  margin: 0 auto;
  background-color: pink;
  display: block;
}

.labelInfo{
  color: var(--color-light);
  margin-left: 55px;
}

.labelExibir{
  /* position: absolute; */
  float: right;
  margin: 33px 57px -33px 0px;
}

.link{
  text-decoration: none;
  color: var(--color-light);
  display: block;
  text-align: center;
  margin: 16px 0;
}

.titulo{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 16px;
}

.legenda{
font-weight: bold;
font-size: 16px;
line-height: 24px;
}

.entrar{
  text-decoration: none;
  color: var (var(--color-light));
}

html {
  --font: Roboto;
  --color: #5D4394;;
  --color-light: #D8D8E0;
  --color-dark: #05051B;
  --radius: 0.2rem;
}

body,
input,
textarea,
button {
  font-size: var(--font-size);
  font-family: var(--font);
}


h1,
h2,
h3,
p,
ul {
  /* margin: 1rem 0; */
}

ul {
  list-style: square;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid #D8D8E0;
  width: 85%;
  height: 45px;
  padding: 0.8rem;
  margin: 0 auto 55px auto;
}


button {
  cursor: pointer;
  border: none;
  width: 85%;
  display: block;
  margin: 0 auto 70px auto;
  border-radius: 12px;
  background: var(--color);
  color: white;
  padding: 0.8rem 1.6rem;
}

nav{
  background-color: var(--color-dark);
  height: 55px;
}

